<!-- app/views/articles/show.html.erb -->

<%=h article.title %>

<!-- app/views/articles/show.html.erb -->

<%=h truncate(article.title, :length => 10) %>

<!-- app/views/articles/show.html.erb -->

<%=h display_name(article) %>

<!-- app/views/articles/show.html.erb -->

<%=h display_name(article) %>

<!-- app/views/_display_name.html.erb -->

<span title="<%= article.title %>">
  <%=h truncate(article.title, :length => 10) %>
</span>

<!-- app/views/articles/show.html.erb -->

<%=h render "articles/display_name", :article => article %>
